<div class="max-w-7xl mx-auto">
  <mat-toolbar class="flex justify-between items-center border-x">
    <a class="flex items-center gap-2" routerLink="/"><mat-icon>storefront</mat-icon><span
        class="hidden sm:block">Store</span></a>
    <div class="flex gap-1 items-center">
      <span class="text-sm sm:text-lg">Follow us</span>
      <mat-icon class="animate-slice-right">arrow_forward</mat-icon>
      <a target="_blank" href="https://facebook.com" mat-icon-button><mat-icon
          svgIcon="ico_facebook_black"></mat-icon></a>
      <a target="_blank" href="https://instagram.com" mat-icon-button><mat-icon
          svgIcon="ico_instagram_black"></mat-icon></a>
      <a target="_blank" href="https://twitter.com" mat-icon-button><mat-icon
          svgIcon="ico_twitter_x_black"></mat-icon></a>
    </div>
  </mat-toolbar>
</div>