<mat-drawer-container  [autosize]="true" class="max-w-7xl mx-auto border-x border-b absolute inset-0">
  <div class="grid place-content-center h-[500px] text-center">
    <h2 class="text-2xl font-bold mb-5">Thank you for your purchase.</h2>
    <p class="text-xl font-bold mb-5">Enjoy it !</p>
    <button routerLink="/home" class="cursor-pointer mx-auto w-fit" color="primary" mat-flat-button href="mailto:example@mail.com"><mat-icon>home</mat-icon>Go to home</button>
    <p class="mt-10">If you have any questions, please do not hesitate to contact us.</p>
    <a class="cursor-pointer mx-auto w-fit" mat-flat-button href="mailto:example@mail.com"><mat-icon>mail</mat-icon>Contact to support</a>
  </div>
<mat-icon [inline]="false" class="absolute -z-10 text-[200px] w-[200px] h-[200px] text-gray-200 top-12 right-10 md:right-20">waving_hand</mat-icon>
</mat-drawer-container>